:root {
    --box-lw: 6vh;
    --border-widths: 0.2vh;
    --content-length: 120vh;
    --left-align: 20vh;

    --background-color: rgb(33, 32, 32);
    --menu-mouseOut: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%);
    --hover-gradient: linear-gradient(90deg, rgb(0, 149, 255) 0%, rgba(255,253,72,1) 75%, rgba(255,255,255,0) 100%);
}

.home {
    background-image: url(./pictures/sky.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header p {
    display: inline-block;
    font-size: 10vh;
    font-weight: 700;
    margin-left: calc(var(--left-align) + 4vh);
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu {
    margin-left: var(--left-align);
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.menu #row {
    display: flex;
    border-bottom: var(--border-widths) solid black;
    width: var(--content-length);
    margin-top: 2vh;
    transition: ease-in-out 0.3s;
    background: var(--menu-mouseOut);
}

.menu #row:hover {
    cursor: pointer;
    border-bottom: var(--border-widths) solid white;
    width: calc(var(--content-length) + 40vh);
    transition: ease-in-out 0.3s;
    background: var(--hover-gradient);
}

.menu #row.active {
    background: var(--hover-gradient);
    border-bottom: var(--border-widths) solid white;
    width: calc(var(--content-length) + 40vh);
}

.menu .content {
    display: grid;
    align-items: center;
}

.menu .content p {
    margin-left: 3vh;
    font-family: "consolas";
    font-size: 4vh;
    color: black;
    transition: ease-in-out 0.3s;
}

.menu #row:hover .content p {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out 0.3s;
}
