:root {
    --box-lw: 6vh;
    --border-widths: 0.2vh;
    --content-length: 80vh;

    --menu-mouseOut: rgb(203, 203, 203);
}

.home {
    background: url("./pictures/sky.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header p {
    display: inline-block;
    font-size: 10vh;
    font-weight: 700;
    margin-left: 20vh;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu {
    margin-left: 30vh;
    list-style: none;
}

.menu li{
    display: flex;
    border-bottom: var(--border-widths) solid black;
    width: var(--content-length);
    margin-top: 2vh;
    transition: ease-in-out 0.3s;
    background-color: rgba(255,255,255,0.7);
}
.menu li:hover {
    cursor: pointer;
    border-bottom: var(--border-widths) solid white;
    width: calc(var(--content-length) + 20vh);
    transition: ease-in-out 0.3s;
    background: linear-gradient(90deg, rgba(0,206,255,1) 0%, rgba(255,253,72,1) 75%, rgba(255,255,255,0) 100%);
}
.menu li.active {
    background: linear-gradient(90deg, rgba(0,206,255,1) 0%, rgba(255,253,72,1) 75%, rgba(255,255,255,0) 100%);
    border-bottom: var(--border-widths) solid white;
    width: calc(var(--content-length) + 20vh);
}

.menu .box {
    background-color: var(--menu-mouseOut);
    border-right: var(--border-widths) solid white;
    width: var(--box-lw);
    height: var(--box-lw);
}

.menu .content {
    display: grid;
    align-items: center;
}

.menu .content p {
    margin-left: 3vh;
    font-family: "consolas";
    font-size: 4vh;
    color: black;
    transition: ease-in-out 0.3s;
}
.menu li:hover .content p {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out 0.3s;
}
