:root {
    --nav-color: rgb(9, 0, 78);
    --links-color: rgb(32, 243, 151);
    --bg-color: rgb(34, 34, 34);
    --grad-one: rgba(0,243,255,1);
    --grad-two: rgb(62, 125, 218);
    --grad-three: rgb(242, 67, 67);
}

.navbar {
    background-color: var(--nav-color);
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 4vh;
    padding: 1.3vh;
    font-weight: 700;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
}

.navbar-menu a:hover  {
    color: var(--grad-one);
    transition: ease-in-out 0.3s;
}

.navbar-item {
    margin: 0 15px;
    font-size: 3vh;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-logo {
        font-size: 4vh;
    }

    .navbar-menu-icon {
        display: block;
    }

    .navbar-item {
        margin-bottom: 5vh;
        font-size: 2vh;
    }
}
